body {
    background-color: #e1decb;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#root {
    width: 5px;
}
#sign {
    margin: 3%;
}
#data-renewed-in-time-frame {
    display: flex;
}
#green-check-mark {
    margin-top: 0.7rem;
    height: 1.3rem;
}
#scrolling-canvas {
    width: 100%;
    background-color: #979387;
    color: #f9f8f4;
}
.small-text {
    font-size: 1rem;
}
.grey-text {
    color: #4f4b3f;
}
.reserv-plus {
    display: flex;
    margin: 0 0 0 1rem;
    font-size: 1.8rem;
    font-weight: bold;
}
.plus {
    margin-top: 1.6rem;
    color: #f99007;
}
.scan-document {
    line-height: 0.1rem;
}
.head {
    display: flex;
}
.scan-document-qr {
    display: flex;
    margin: 1.5rem 0 0 7rem;
}
.qr {
    margin: 1rem;
}
.main-document {
    border: solid gray 0.1rem;
    border-radius: 10% 10% 10% 10%;
    width: 22.5rem;
    height: 24rem;
    margin-left: 0.5rem;
    display: grid;
    grid-template-columns: 4fr 1fr;
    font-size: 2rem;
    background-color: #d5d3be;
}
.main-document-name {
    margin: 0.9rem 0.9rem 0 0.9rem;
}
.main-document-footer {
    margin-left: -18rem;
}
@keyframes scroll {
    0% {
        transform: translateX(40%);
    }
    100% {
        transform: translateX(-40%);
    }
}