body {
    background-color: #e1decb;
}
#root {
    width: 5px;
}
.reserv-plus {
    display: flex;
    margin: 0 0 0 1rem;
    font-size: 1.8rem;
    font-weight: bold;
}
.plus {
    margin-top: 1.6rem;
    color: #f99007;
}
.scan-document {
    line-height: 0.1rem;
}
.head {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
}
.scan-document-qr {
    display: flex;
    margin: 1.5rem 0 0 7rem;
}
.qr {
    margin: 1rem;
}
