body {
    background-color: #e1decb;
}
.reserv-plus {
    display: flex;
    margin: 0 0 0 2rem;
    font-size: 2.1rem;
    font-weight: bold;
}
.plus {
    margin-top: 2rem;
    color: #f99007;
}
.scan-document {
    margin: 2rem 0 0 25rem;
    line-height: 0.1rem;
}
.head {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
}